<!-- <div class="row w-100 mx-0 auth-page">
  <div class="col-md-8 col-xl-6 mx-auto">
    <div class="card">
      <div class="row">
        <div class="col-md-4 pe-md-0">
          <div
            class="auth-side-wrapper"
            [ngStyle]="{
              'background-image': 'url(https://via.placeholder.com/219x452)'
            }"
          ></div>
        </div>
        <div class="col-md-8 ps-md-0">
          <div class="auth-form-wrapper px-4 py-5">
            <a routerLink="." class="nobleui-logo d-block mb-2"
              >Noble<span>UI</span></a
            >
            <h5 class="text-muted fw-normal mb-4">Create a free account.</h5>
            <form class="forms-sample" [formGroup]="register_form">
              <div>
                <div class="mb-3">
                  <label for="firstname">FirstName: </label>
                  <input
                    type="text"
                    id="firstname"
                    class="form-control"
                    formControlName="firstname"
                    placeholder="First Name"
                  />
                </div>
                <div class="mb-3">
                  <label for="lastname">LastName: </label>
                  <input
                    type="text"
                    id="lastname"
                    class="form-control"
                    formControlName="lastname"
                    placeholder="LastName"
                  />
                </div>
                <div class="mb-3">
                  <label for="email">Email: </label>
                  <input
                    type="email"
                    id="email"
                    class="form-control"
                    formControlName="email"
                    placeholder="Email"
                  />
                </div>
                <div class="mb-3">
                  <label for="address">Address: </label>
                  <input
                    type="text"
                    id="address"
                    class="form-control"
                    formControlName="address"
                    placeholder="Address"
                  />
                </div>
                <div class="mb-3">
                  <label for="phoneno">Phone No: </label>
                  <input
                    type="text"
                    id="phoneno"
                    class="form-control"
                    formControlName="phoneno"
                    placeholder="Phone No"
                  />
                </div>

                <button
                  type="submit"
                  class="btn btn-primary me-2 mb-2 mb-md-0"
                  (click)="onRegister($event)"
                >
                  Sign up
                </button>
                <button
                  type="button"
                  class="btn btn-outline-primary btn-icon-text mb-2 mb-md-0"
                >
                  <i class="feather icon-twitter btn-icon-prepend"></i>
                  Sign up with twitter
                </button>
              </div>
              <a routerLink="/auth/login" class="d-block mt-3 text-muted"
                >Already a user? Sign in</a
              >
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->
<!-- 
<div class="row w-100 mx-0 auth-page">
  <div class="col-md-8 col-xl-6 mx-auto">
    <div class="card">
      <div class="row">
        <div class="col-md-8 ps-md-0">
          <div class="auth-form-wrapper px-4 py-5">
            <a routerLink="." class="nobleui-logo d-block mb-2"
              >Noble<span>UI</span></a
            >
            <h5 class="text-muted fw-normal mb-4">Create a free account.</h5>
            <form class="forms-sample" [formGroup]="register_form">
              <div class="mb-3">
                <label for="phoneno">Phone No: </label>
                <input
                  type="text"
                  id="phoneno"
                  class="form-control"
                  formControlName="phoneno"
                  placeholder="Phone No"
                />
                <button class="btn btn-primary me-2 mb-2 mb-md-0">
                  Send OTP
                </button>
              </div>
              <div class="mb-3">
                <label for="otp">OTP: </label>
                <input
                  type="text"
                  id="otp"
                  class="form-control"
                  formControlName="otp"
                  placeholder="Enter OTP"
                />
              </div>

              <div>
                <button
                  type="submit"
                  class="btn btn-primary me-2 mb-2 mb-md-0"
                  (click)="onRegister($event)"
                >
                  Sign up
                </button>
                <button
                  type="button"
                  class="btn btn-outline-primary btn-icon-text mb-2 mb-md-0"
                >
                  Resend OTP
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->

<div class="row w-100 mx-0 auth-page">
  <div class="col-md-8 col-xl-6 mx-auto">
    <div class="card">
      <div class="row">
        <div class="col-md-8 ps-md-0">
          <div class="auth-form-wrapper px-4 py-5">
            <a routerLink="." class="nobleui-logo d-block mb-2"
              >Noble<span>UI</span></a
            >
            <h5 class="text-muted fw-normal mb-4">Create a free account.</h5>
            <form class="forms-sample" [formGroup]="register_form">
              <div class="mb-3">
                <label for="phoneno">Phone No: </label>
                <input
                  type="text"
                  id="phoneno"
                  class="form-control"
                  formControlName="phoneno"
                  placeholder="Phone No"
                />
                <button class="btn btn-primary me-2 mb-2 mb-md-0">
                  Send OTP
                </button>
              </div>
              <div class="mb-3">
                <label for="otp">OTP: </label>
                <input
                  type="text"
                  id="otp"
                  class="form-control"
                  formControlName="otp"
                  placeholder="Enter OTP"
                />
              </div>

              <div>
                <button
                  type="submit"
                  class="btn btn-primary me-2 mb-2 mb-md-0"
                  (click)="onRegister($event)"
                >
                  Sign up
                </button>
                <button
                  type="button"
                  class="btn btn-outline-primary btn-icon-text mb-2 mb-md-0"
                >
                  Resend OTP
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
