<div>
  <iframe
    width="420"
    height="345"
    src="https://www.youtube.com/embed/tgbNymZ7vqY"
  >
    <!-- https://www.youtube.com/watch?v=k9BWCnnXOG8 -->
  </iframe>
  <br />
  <h3>Answer the following questions</h3>
  <div>
    <h5 id="q1">How does food move through your digestive tract?</h5>
    <label><input type="radio" name="q1" />By gravity</label> <br />
    <label
      ><input type="radio" name="q1" />By wavelike muscle contractions</label
    ><br />
    <label><input type="radio" name="q1" />By cilia</label><br />
    <label><input type="radio" name="q1" />By chemical absorption</label><br />
  </div>
  <div>
    <h5 id="q2">Where does most of the digestive process take place?</h5>
    <label><input type="radio" name="q2" />Small intestine</label> <br />
    <label><input type="radio" name="q2" />Large intestine</label><br />
    <label><input type="radio" name="q2" />Stomach</label><br />
    <label><input type="radio" name="q2" />All of the above</label><br />
  </div>
  <div>
    <h5 id="q3">What does the liver do to help digestion?</h5>
    <label><input type="radio" name="q3" />Makes important enzymes</label>
    <br />
    <label><input type="radio" name="q3" />Neutralizes stomach acid</label
    ><br />
    <label><input type="radio" name="q3" />Produces bile</label><br />
    <label><input type="radio" name="q3" />Regulates insulin</label><br />
  </div>
  <div>
    <h5 id="q4">Which of these can harm the intestinal lining?</h5>
    <label><input type="radio" name="q4" />Aspirin</label> <br />
    <label><input type="radio" name="q4" />Antibiotics</label><br />
    <label><input type="radio" name="q4" />Caffeine</label><br />
    <label><input type="radio" name="q4" />A and B</label><br />
  </div>
  <div>
    <h5 id="q5">Which of these best maintains intestinal health?</h5>
    <label><input type="radio" name="q5" />Starches</label> <br />
    <label><input type="radio" name="q5" />Vitamins</label><br />
    <label><input type="radio" name="q5" />Fiber</label><br />
    <label><input type="radio" name="q5" />Fat</label><br />
  </div>
</div>
