.content
{
    height: calc(100vh - 98px);
    margin:16px;
    margin-left:32px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    color:navy;
    border-radius: 10px;
    background-color: lightgrey;
    box-shadow: 10px 10px 5px lightblue ;
}

mat-toolbar{
    background-color:#004a9f;
    color:white;
    height:50px;
}
mat-sidenav{
    margin:16px;
    width:200px;
    border-right:none;
    background:#002b5c;
    color:white;
    text-align: center;
    border-radius: 10px;
    padding: 16px;
}
mat-sidenav-container{
    /* height:calc(100vh-65px); */
    height:calc(100vh - 66px); 
    /* margin-left:0px; */
}

